@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
:root {
    --back: rgb(2, 115, 115);
    --color: white;
}

header,
main {
    width: 1140px;
    margin: 0 auto;
}
p{
    color: gray;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation h3 {
    font-size: 2rem;
    font-weight: 600;
}

#Influencer {
    background-color: var(--back);
    color: var(--color);
    padding: 10px;
}

#products {
    color: rgb(2, 115, 115);
    background-color: white;
    padding: 10px;
}

.navigation ul {
    display: flex;
    justify-content: center;  
}

.navigation li {
    list-style: none;
    margin: 20px;
}

.navigation li a {
    text-decoration: none;
    color: var(--back);
}
.navigation li a:hover {
   color: var(--back);
}

.head-container ,.featured-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-content {
    width: 580px;
    text-align: left;
}

.text-content-title {
    color: var(--back);
    font-size: 3rem;
    font-weight: 700;
}
#prebook {
    border-radius: 8px;
    border: 0;
    padding: 10px 24px;
    background: var(--back);
    color: var(--color);
    cursor: pointer;
}

.img-content {
    /* width: 580px; */
    text-align: center;
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

/* Partner section */
.sponsore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1040px;
    margin: 0 auto;
    gap: 50px;
    margin-bottom: 100px;
}

.collection {
    display: block-flex;
    justify-content: center;
}

.collection-box-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
    color: var(--back);
}

.collection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.Collection-content {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    text-align: center;
}
.Collection-content img{
    object-fit: cover;
}
.collection-text-box{
    text-align: left;
    padding-left: 25px;
}
.collection-text-box h3,h4{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    color: var(--back);
}
/* featured-content */
.featured-text-content-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--back);
}
/* Footer Section */
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--back);
    color: var(--color);
    height: 200px;
}
.footer-content-2 p{
    color: var(--color);
    text-align: center;
    margin: 0;
}
.footer-content-3 img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}


@media screen and (max-width:576px) {
    header, main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    }
    .navigation,.head-container{
        flex-direction: column;
    }
    .navigation ul{
        padding: 0;
    }
    .navigation li{
        margin: 10px;
    }
    .head-container ,.featured-content{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .text-content{
        margin-top: 40px;
        width: 80%;
        margin-left: 20px;
    }
    .sponsore{
        width: 80%;
        gap: 20px;
        flex-wrap: wrap;
    }
    .collection-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
    .collection-container img{
        width: 90%;
        padding: 10px;
    }
    .collection-text-box{
        padding-left: 25px;
        width: 100%;
    }
    .featured-text-content{
        margin-bottom: 50px;
        margin-top: -40px;
    }
    .footer-container{
        flex-direction: column;
    }

}